.skills-container {
    width: 100%;
    background-color: rgba(64, 66, 66, 0.66);
    padding: 120px 0 200px 0;
}

.skills-selector {
    width: 80%;
    margin: auto;
}

.skills-selector p {
    font-size: 25px;
}

.skills-selector span {
    font-weight: bold;
}

.skills-icon-container {
    padding: 50px 0 0 0;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-row-gap: 70px;
    justify-content: space-between;

}

.skills-icons {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.skills-icons svg {
    fill: #ababab;
    transition: 1s;

}
.skills-icons svg:hover {
    fill: #6a6cff;

    transition: 1s;
}


.skills-icons h5 {
    color: #ababab;
    margin: 10px 0 0 0;
}


@media only screen and (max-width: 750px) {
    .skills-icon-container {

        grid-template-columns: repeat(3, auto);



    }
}

@media only screen and (max-width: 450px) {

    .skills-icons svg {
       width: 40px;

    }
    .skills-icons h5 {
       font-size: 11px;
    }

}





