.skills-container{
    width: 100%;
    background-color: rgba(64, 66, 66, 0.85);

}

.skills-selector{
    width: 80%;
    margin: auto;
}

.skills-selector p{
    font-size: 25px;
}

.skills-selector span{
    font-weight: bold;
}

.skills-icon-container{
    padding: 50px 0 90px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;

}

.skills-icons{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.skills-icons svg{
    fill: #ababab;
    transition: 1s;
}


.skills-icons h5{
    color:  #ababab;
    margin: 10px 0 0 0;
}


@media only screen and (max-width: 750px) {
    .skills-icon-container{

        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-row-gap: 30px;


    }
}


