.work-container {
    width: 100%;
    background-color: rgba(64, 66, 66, 0.66);
}

.work-selector {
    width: 80%;
    margin: auto;

}
.work-selector p{
  font-size: 25px;

}




.work-selector span {
    font-weight: bold;
}

.work-boxes {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-row-gap: 30px;
    padding: 50px 0;
    justify-content: space-between


}



.not-allowed-cursor{
    cursor: not-allowed;
}


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 850px) {
    .work-boxes {
        grid-template-columns: 100%;
    }


}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 600px) {
}


